.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    padding: 20px;
    width: 100%;
}
#pass{
    width: 100%;
}
#MinMaxslider{
    width: 100%;
}
#length{
    display: inline-block;
    width: 100px;
}